name: macos-build

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: brew install eigen ninja

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DMONAD_USE_OPENMP=OFF -DMONAD_BUILD_APPS=OFF -DMONAD_BUILD_TESTS=ON
      
      - name: Build
        run: |
          cd build
          cmake --build . --parallel 8

      - name: Run tests
        run: ./build/tests/monad_tests
